<div class="container">
  <div class="logo-container">
    <img class="logo" src="https://th.bing.com/th/id/OIP.VU78rXLHAni6J7dwwYqjBgHaHa?cb=iwc2&rs=1&pid=ImgDetMain" alt="logo">
    <a routerLink='/home'>
      <svg class="icon-home" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
      </svg>
  </a>

  </div>
  <div class="login-card">
    <div class="login-header">
      
    </div>

    <div class="login-container">

    <h2>Iniciar Sesión</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">

      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="tucorreo@ejemplo.com"
          [class.invalid]="form.get('email')?.invalid && form.get('email')?.touched"
        />
        <div class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          Correo inválido
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="••••••••"
          [class.invalid]="form.get('password')?.invalid && form.get('password')?.touched"
        />
        <div class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          Contraseña inválida
        </div>
      </div>

      <div class="login-forgot">
        <p><a routerLink="/home">Have you forgotten your password?</a></p>
      </div>

      <button type="submit" class="btn-submit">
        Entrar
      </button>

      <div class="login-footer">
        <p>¿No tienes cuenta? <a routerLink="/home">Crear cuenta</a></p>
      </div>
    </form>
    </div>
  </div>
</div>
