<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-logo" routerLink="/">VOLUNTARIOS</a>
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a class="navbar-links" routerLink="/">HOME</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-links" routerLink="/about">SERVICES</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-links" routerLink="/programs">PROGRAMS</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-links" routerLink="/contact">CONTACT</a>
      </li>
    </ul>



    
    <!-- Menú de usuario -->
    <div class="user-menu">
      <!-- Icono de usuario -->
      <button class="user-btn" aria-label="Menú de usuario">
        <!-- Puedes cambiar este SVG por otro o usar FontAwesome/lucide-angular -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
             viewBox="0 0 24 24">
          <path d="M12 12c2.7 0 4.8-2.2 4.8-4.8S14.7 2.4 12 2.4 7.2 4.6 7.2 7.2 9.3 12 12 12zm0 2.4c-3.2 0-9.6 1.6-9.6 4.8v2.4h19.2v-2.4c0-3.2-6.4-4.8-9.6-4.8z"/>
        </svg>
      </button>
      <!-- Dropdown -->
      <ul class="user-dropdown">
        <li *ngIf="!isAuthenticated"><a  routerLink="/login">Iniciar sesión</a></li>
        <li *ngIf="!isAuthenticated"><a routerLink="/register">Registrar usuario</a></li>
        <li *ngIf="!isAuthenticated"><a routerLink="/registerOrg">Registrar org</a></li>
        <li *ngIf="isAuthenticated"><a routerLink="/updateUser">update user</a></li>
        <li *ngIf="isAuthenticated"><a (click)="logout()">logout</a></li>

        <!-- puedes añadir más opciones -->
      </ul>
    </div>
  </div>
</nav>
