<div class="modal-overlay">
  <div class="border">
    <div class="modal-container" (click)="$event.stopPropagation()" [formGroup]="eventForm">

      <!-- Header -->
      <div class="modal-header">
        <div class="header">
          <label class="titulo">Nombre:</label>
          <button type="button" class="btn-cerrar" (click)="close()">✕</button>
        </div>
        <input type="text" placeholder="Nombre del evento" formControlName="name" />
      </div>

      <!-- Body -->
      <div class="modal-body">
        <div class="col-izq">

          <div *ngIf="!imageUrl && !uploading" class="icono-imagen-container">
            <label class="icono-imagen" for="inputImagen">
              📷
            </label>
            <input
              type="file"
              id="inputImagen"
              accept="image/*"
              style="display:none"
              (change)="onFileSelected($event)"
            />
            <span class="info">Cargar imagen</span>

          </div>
          
          <!-- Muestra previsualización si hay imagen -->
          <div *ngIf="imageUrl" class="preview-img">
            <img [src]="imageUrl" alt="Imagen evento" />
          </div>

          <!-- Mensaje de carga -->
          <div *ngIf="uploading">Subiendo imagen...</div>
        </div>

        <div class="col-der">
          <div class="grid-2">
            <div class="fila">
              <label for="address">Dirección:</label>
              <input type="text" formControlName="address" placeholder="Dirección" />
            </div>
            <div class="fila">
  <label for="location">Ciudad:</label>
  <ng-container *ngIf="!selectedDepartmentId; else ciudadSelect">
    <select (change)="onDepartmentSelect($event)">
      <option value="" disabled selected>Seleccione departamento</option>
      <option *ngFor="let dep of departamentos" [value]="dep.id">
        {{ dep.name }}
      </option>
    </select>
  </ng-container>

  <ng-template #ciudadSelect>
    <select (change)="onCitySelect($event)">
      <option value="" disabled selected>Seleccione ciudad o municipio</option>
      <option *ngFor="let city of ciudades" [value]="city">
        {{ city }}
      </option>
    </select>
  </ng-template>
</div>


          </div>

          <div class="grid-2">
            <div class="fila">
              <label>Fecha Inicio:</label>
              <input type="datetime-local" formControlName="startDateTime" />
            </div>
            <div class="fila">
              <label>Fecha Límite Postulación:</label>
              <input type="datetime-local" formControlName="registrationDeadline" />
            </div>
          </div>

          <div class="grid-2">
            <div class="fila">
              <label>Categoría:</label>
              <select formControlName="category">
                <option value="">Seleccione una categoría</option>
                <option value="AMBIENTAL">Ambiental</option>
                <option value="COMUNITARIA">Comunitaria</option>
                <option value="ACADÉMICA">Académica</option>
              </select>
            </div>

            <div class="fila">
              <label>Cantidad Voluntarios:</label>
              <input type="number" formControlName="maxParticipants" placeholder="0" />
            </div>
          </div>

          <div class="fila fila-descripcion">
            <label>Descripción:</label>
            <textarea
              formControlName="description"
              rows="2"
              placeholder="Descripción"
              maxlength="110"
              (input)="actualizarCaracteres($event)">
            </textarea>
            <span>Caracteres restantes: {{ caracteresRestantes }}</span>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn-publicar" (click)="submit()">
          {{ isEditMode ? 'ACTUALIZAR' : 'PUBLICAR' }}
        </button>
      </div>

    </div>
  </div>
</div>
